.main-header-text {
    text-align: center;
    font-family: "Arial Black";
}

#add-issue-button {
    margin-top: 5px;
    margin-left: 10px;
}

#issues-list {
    margin-top: 15px;
    margin-left: 10px;
}

#footer {
    margin-top: 1000px;
}

.issue-input {
    display: block;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.issue-input.show {
    opacity: 1;
    transform: translateY(0);
}

.issue-item {
    margin-left: 15px;
    margin-top: 10px;
}

#delete-issue-btn {
    margin-left: 15px;
}